/* ====================ROOT VARIABLES=================================== */
:root {
    --color-primary: #c50c37;
    --color-primary-variant: #ffc8bb;
    --color-black: #0a0a0c;
    --color-dark: #2C3946;
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.8);
    --color-dark-green: #008080;
    --color-bg1: #c50c37;
    --color-bg2: rgb(220, 214, 214);
    --color-primary-contact: #24a670;

    --width: 84%;
    --mobile-width: 92%;

    --card-border-radius-1: 0.3rem;
    --card-border-radius-2: 0.5rem;
    --card-border-radius-3: 0.8rem;

    --color-gray-900: #1e1e66;
    --color-gray-700: #2d2b7c;
    --color-gray-300: rgba(242, 242, 254, 0.3);
    --color-gray-200: rgba(242, 242, 254, 0.7);
    --card-border-radius-4: 2rem;
    --card-border-radius-5: 5rem;


    --color-bg11: #2e3267;
    --color-bg22: #424890;
    --color-about_primary: #c50c37;
    --color-about_success: #00bf8e;
    --color-warning: #f7c94b;
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-danger: #f75842;
    --color-primary-variant: #ffc8bb;
}



/* ======================================END OF ROOT VARIABLES=========================== */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.nav_menu li a {
    color: var(--color-black);
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    background: var(--color-white);
    font-weight: 300;


}

.container {
    width: var(--width);
    margin: 0 auto;
}

img {
    width: 100%;
}

.container .logo h4 {
    font-weight: 700;
    letter-spacing: 0.1px;
}

a {
    color: var(--color-black);
    transition: all 300ms ease;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5 {
    color: var(--color-black);
    font-family: 'Abhaya Libre', serif;
    font-weight: 800;

}

h1 {
    font-size: 6rem;
    letter-spacing: -0.4rem;
    line-height: 0.8;
}

h2 {
    font-size: 3.2rem;
    letter-spacing: -0.2rem;
}

h3 {
    font-size: 2rem;
}

h4, h5 {
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--color-dark);

}

h5 {
    font-size: 0.9rem;
}

p {
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
}

.btn {
    padding: 1rem 2rem;
    font-weight: 300;
    width: fit-content;
    background: var(--color-primary);
    color: var(--color-white);
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 300ms ease;

}

.btn:hover {
    background: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.btn-primary {
    background-color: transparent;
    color: var(--color-primary);
}
.btn-primary:hover{
    background: transparent;
    color: var(--color-primary);
    border-color: var(--color-primary);
}

section {
    max-width: 100vw;
    padding: 12rem 0 0;
}

/* =========================Nav Bar============================= */

nav {
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    position: fixed;
    z-index: 2;
    background: white;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    color: var(--color-black);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

nav button {
    display: none;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .container ul {
    display: flex;
    gap: 3rem;
}

nav .container ul a {
    padding: 0 0 0.3rem;
    font-family: 'Poppins', sans-serif;
}

nav .container ul a.active {
    border-bottom: 6px solid var(--color-primary-variant);
}

nav a:hover {
    color: var(--color-primary-variant);
}

nav .icons {
    display: flex;
    gap: 2rem;
    font-size: 2rem;
}

p {
    font-family: 'Poppins', sans-serif;
}

.window-scroll {
    background-color: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.window-scroll .nav_menu li a{
    color: var(--color-white);
}
.window-scroll .icons  a i{
    color: var(--color-white);
}

.window-scroll .logo h4{
    color: var(--color-white);
}
.window-scroll sup{
    color: var(--color-white);
}
.window-scroll button{
    color: var(--color-white);
}



/* ===============================END OF NAV==================================================== */




/* ========================================HEADER STARTS HERE==================================== */
header {
    height: 100vh;
    max-width: 100vw;
    position: relative;
    top: 4rem;
    display: grid;
    place-items: center;


}

header .container {
    display: grid;
    grid-template-columns: 47% 53%;
    gap: 3rem;
    align-items: center;
    max-height: 100%;
    margin-top: -4rem;
}

header .container .info .delivery {
    background: var(--color-primary-variant);
    width: max-content;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    color: var(--color-black);
    margin-bottom: 1.5rem;
}

header .container .info .delivery i {
    display: inline-block;
    margin-left: 1rem;
    font-size: 1.2rem;
}

header .container .info h1 {
    color: rgb(22, 72, 29);
    font-size: 5.6rem;

}

header .container .info p {
    font-size: 1.2rem;
    margin: 1rem 0 2rem;
    font-family: 'Poppins', sans-serif;
}

header .container .info .cta {
    display: flex;
    align-items: center;
}

header .container .info .cta img {
    width: 3.6rem;
    transition: all 300ms ease;
}

header .container .info .cta a:last-child {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 1.4rem;
    font-weight: 500;

}


header .container .info .cta a:last-child:hover img {
    filter: saturate(0);
}


/* ==============================HEADER ENDS HERE============================================ */
section#commercial {
    background-color: var(--color-primary-variant);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0;
    display: grid;
    place-items: center;
    /* display: none; */
}

section#products .container {
    width: 65%;
    margin-top: -10rem;
}

section#products .container>h2, section#products .container {
    text-align: center;

}

section#products article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 1rem;
    gap: 1.5rem;
}

section#products article p {
    margin: 1.5rem 0 2.1rem;
}

section#products article:last-child {
    grid-template-columns: 1fr 1fr;
}

section#products article:last-child .image {
    margin-right: -8rem;
}


section#why-choose_us .container .head {
    display: flex;
    justify-content: center;
    margin-top: -7rem;

}

section#why-choose_us .container article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3rem;
    margin-top: -1rem;

}

section#why-choose_us .container article h4 {
    margin-bottom: 1.4rem;
    color: var(--color-black);
    font-weight: 700;

}

section#why-choose_us .container article p {
    margin-bottom: 1rem;
}

section#why-choose_us .container article a {
    display: inline-block;
    margin-top: 1rem;
}

section#why-choose_us .container article a img {
    width: 8rem;
    transition: all 300ms ease;

}

section#why-choose_us .container .info {
    margin-top: 0;
}


section#why-choose_us .container article a:hover img {
    filter: saturate(0);

}


/* ============================================swiper starts here=============================================== */
.swiper h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.swiper {
    width: var(--width);
    height: 100%;
    margin-top: 7rem;
}

.swiper-wrapper {
    width: var(--width);
    margin-bottom: 3rem;

}

.swiper-slide {
    display: flex;
    align-items: center;
    gap: 5rem;
   
}
.swiper-slide .details h4 {
    color: var(--color-primary);
    font-size: 1rem;
}
.swiper-slide .details h3 {
    margin: 1rem 0;
}
.swiper-slide .details p {
    margin-bottom: 1rem;

}
.swiper-slide img {
    border-radius: 50%;
    border: 3px solid var(--color-primary);
}

.swiper-slide .details h5 {
    color: var(--color-black);
    font-size: 1.3rem;
    font-weight:500;
    margin: 1.6rem 0 0.4rem;
}

.swiper-pagination-bullets{
    color: var(--color-primary);
}

.swiper-slide small {
    font-family: 'Poppins', sans-serif;
}

/* ======================================swiper ends here=================================================== */

/* ======================================faqs starts here================================================ */
.faqs {
    /* background: var(--color-bg1); */
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.3rem);
    margin-top: -5rem;
}

.faqs h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.faqs_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.faq {
    display: flex;
    padding: 2rem;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: #db7553;
    cursor: pointer;
}

.faq h4 {
    font-size: 1rem;
    line-height: 2.2;
    color: var(--color-white);
    font-family: 'Poppins', sans-serif;
}

.faq_icon {
    align-self: flex-start;
    font-size: 1.2rem;
    color: var(--color-white);
}

.faq p {
    margin-top: 0.8rem;
    display: none;
    color: var(--color-white);
    font-family: 'Poppins', sans-serif;
}

.faq.open p {
    display: block;
}

/* =====================================faqs ends here======================================================== */

section#cta .container {
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    border-radius: 2rem;
    position: relative;
    height: 20rem;
}

section#cta .container .info {
    width: 26rem;
}

section#cta .container .info h3 {
    margin-bottom: 1rem;
    color: var(--color-white);
}

section#cta .container .info p {
    color: var(--color-light);
    font-family: 'Poppins', sans-serif;

}

section#cta .image {
    position: absolute;
    top: -4rem;
    right: 35%;
}

section#cta .container .btn {
    align-self: flex-end;
    background: var(--color-black);
    color: var(--color-white);
}


section#trusted-clients .clients {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

section#trusted-clients h2 {
    text-align: center;
}

section#trusted-clients {
    margin-bottom: 7rem;
    margin-top: -3rem;
}

/* ================================ footer css begins here===========================================*/

footer {
    background: var(--color-dark-green);
    padding-top: 5rem;
    margin-top: 5rem;
    color: var(--color-white);
    font-family: 'Poppins', sans-serif;
}

.footer_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    color: var(--color-white);
}

.footer_container>div h4 {
    margin-bottom: 1.2rem;
    margin-top: 1rem;
    color: var(--color-white) !important;


}

.footer_1 p {
    margin: 0 0 2rem;
    color: var(--color-white);
    font-family: 'Poppins', sans-serif;
    opacity: 0.7;
}

footer ul li a:hover {
    text-decoration: underline;


}

.footer_4>div p {
    color: white;
    opacity: 0.7;
}

.footer_socials {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
    color: var(--color-white);
    cursor: pointer;
}

footer ul li a {
    color: white;
    margin-bottom: 1rem;
}

footer h4 {
    margin-bottom: 0.6rem;
}

footer ul a {
    opacity: 0.75;

}

footer ul a:hover {
    opacity: 1;
    letter-spacing: 0.2rem;
}

footer ul li {
    padding: 0.4rem 0;
}

.footer_copyright {
    border-top: 2px solid gray;
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 2rem;
    opacity: 0.8;
}

sup {
    color: var(--color-primary);
    font-weight: 700;
    border-radius: 10%;
    font-size: 1rem;

}


/* ========================contact css starts here================================== */
:root {
    --color-green-contact: #008080;
}

.contact_container {
    background: var(--color-bg1);
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 30rem;
    margin: 7rem auto;
    border-radius: 1rem;
    font-family: 'Poppins', sans-serif;
    margin-top: -0.4rem;
}

.contact_aside {
    background: var(--color-green-contact);
    border-radius: 1rem;
    padding: 3rem;
    position: relative;
    bottom: 10rem;
    color: white;
}

.aside_image {
    width: 12rem;
    margin-bottom: 2rem;
}

.contact_aside h2 {
    text-align: left;
    margin-bottom: 1rem;
    color: white;
}

.contact_details h5 {
    color: white;
}

.contact_aside p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
    color: var(--color-white);
    font-family: 'Poppins', sans-serif;

}

.contact_details li {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    color: white;
}

.contact_socials {
    display: flex;
    gap: 0.8rem;
    margin-top: 3rem;
}

.contact_socials a {
    background-color: var(--color-bg2);
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 0.9rem;

}

.contact_socials a:hover {
    background: transparent;
}

.contact_form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.form_name {
    display: flex;
    gap: 1rem;
}

.contact_form input [type="text"] {
    width: 50%;
    margin-right: 20rem;
}

input, textarea {
    width: 96%;
    padding: 1rem;
    background: white;
    color: var(--color-black);
    overflow: hidden;
    border-radius: 5px;
    resize: none;

}
.contact_form .btn-primary{
    background: var(--color-light);
    color: var(--color-black);
}
.contact_form .btn-primary:hover{
    color: var(--color-light);
    background: var(--color-black);
}

/* ================================CONTACT  STYLE ENDS HERE========================================== */

/* ======================PRODUCT PAGES STYLES STARTS HERE================================ */

.courses_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: -10rem;
    font-family: 'Poppins', sans-serif;
}

.course {
    background: #DE7E5D;
    text-align: center;
    transition: var(--transition);
    border-radius: var(--card-border-radius-3);
    /* display: inline; */
}

.course img {
    height: fit-content;
    border-radius: var(--card-border-radius-5) 0;
    border: 1rem solid var(--color-primary);
    overflow: hidden;
    margin-bottom: 1.6rem;
    height: 18rem;
    width: 18rem;
    z-index: 100;
}

.course_info {
    padding: 1rem;
}

.course_info h3 {
    margin-top: -0.2rem;
    font-size: 1.5rem;
    color: var(--color-white);
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

.courses .course_info h4 {
    margin-top:-.8rem;
    font-weight: 120;
    color: var(--color-white);
    font-family: 'Poppins', sans-serif;
}

.search_bar-container {
    position: relative;
    width: 30rem;
    background: transparent;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0.6rem 1rem;
    border-radius: var(--card-border-radius-2);
    color: black;
    margin-top: -4rem;
}

.search_bar-container>div {
    width: 100%;
    display: flex;
    align-items: center;
}

.search_bar input {
    background: transparent;
    margin-left: 0.7rem;
    padding: 0.5rem 0;
    width: 100%;
    color: black;
}

.btn {
    display: inline-block;
    width: fit-content;
    padding: 0.6rem 1.2rem;
    background: var(--color-primary);
    border-radius: var(--card-border-radius-2);
    cursor: pointer;
    transition: var(--transition);
    color: var(--color-white);
}

.course_info .review {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin-top: -2.7rem;
}

.course .review i {
    font-size: 1rem;
    color: gold;
}

/* ====================PRODUCT PAGES ENDS STYLES==================================== */

/* ==========================ABOUT PAGES STARTS HERE======================================== */

.achivement_container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1.5rem;
    margin-top: -2rem;
    font-family: 'Poppins', sans-serif;
}

.achivement_right>p {
    margin: 1.6rem 0 2.5rem;


}

.achievement_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.achievement_card {
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    background: var(--color-about_success);
    transition: var(--transition);
   
}
.achievement_card p{
    color: var(--color-white);
}
.achievement_card h3{
    color: var(--color-white);
}
.achievement_card:nth-child(1){
    background: var(--color-bg11);
}
.achievement_card:nth-child(2){
    background: var(--color-dark);
}

.achievement_card:hover {

    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3rem);
}

.achievement_icon {
    background: var(--color-warning);
    border-radius: 1rem;
    margin-bottom: 2rem;
    padding: 0.6rem;
    display: inline-block;
}

.achievement_card:nth-child(2) .achievement_icon {
    background: var(--color-danger);
}

.achievement_card:nth-child(3) .achievement_icon {
    background: var(--color-primary-variant);
}

.achievement_card p {
    margin-top: 1rem;
}

.team {
    margin-top: -8rem;
}

.team h2 {
    text-align: center;
    margin-top: 2rem;
}


.services_container {
    display: grid;
    grid-template-columns: 25% auto;
    gap: 2rem;
}

.services_left {
    background: var(--color-primary);
    padding: 2rem;
    color: var(--color-white);
}

.services_left h1 {
    font-size: 7rem;
    font-weight: 600;
    color: var(--color-white);
}

.services_left h4 {
    line-height: 1.4;
    font-weight: 500;
    color: var(--color-light);
}

.services_right h3 {
    margin-bottom: 2rem;

}
.services_right h2{
    font-size: 3rem;
    /* text-align: center; */
    margin-bottom: .1rem;
}

.services_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.services_card p{
    color: var(--color-white);
}

.services_card {
    background: var(--color-danger);
    padding: 2rem 2rem;
    cursor: default;
    transition: all 400ms ease;

}

.services_card:hover {
    background: var(--color-primary);
}

.services_card:hover * {
    color: var(--color-white);
    transition: all 400ms ease;
}

.services_card-icon {
    font-size: 2rem;
    color: var(--color-white);
}

.services_card h5 {
    margin: 1rem 0;
    /* color: var(--color-black);/ */
    color: var(--color-white);
}

.services_card:hover a {
    margin-left: 1rem;
}

section#testimonials{
    margin-top: -2rem;
}


#testimonials h2 {
    text-align: center;
    margin-top: -2rem;

}

.testimonial_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
}

.testimonial {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    background:#ece2e2;
    padding: 2rem;
    font-size: 0.88rem;
    border: 1px solid transparent;
    transition: all 400ms ease;
}
.testimonial p{
    font-family: 'Poppins', sans-serif;
}


.testimonial:hover {
    background: transparent;
    border-color: var(--color-primary);
    color: var(--color-primary);
    box-shadow: 0 3rem 2rem var(--color-primary-variant);
    z-index: 1;
}
.testimonial:hover p{
    color: var(--color-primary);
}



.team_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.team_member-info h4 {
    color: var(--color-white);
}

.team_member {
    background: transparent;
    border: 1px solid transparent;
    padding: 2rem;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    border-color: var(--color-about_primary);
    color: black;
}

.team_member:hover {
    /* background: transparent; */
    border-color: var(--color-about_primary);
}

.team_member-info h4, p {
    color: black;
}

.team_member:hover .team_socials {
    color: var(--color-white);
}

.team_member-image img {
    filter: saturate(0);
    border-radius: .7rem;
}

.team_member:hover img {
    filter: saturate(1);
}

.team_member-info * {
    text-align: center;
    margin-top: 1.4rem;
}


.team_socials {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    border-radius: 1rem 0 0 1rem;
    background: var(--color-about_primary);
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
    right: -100%;
}

.team_socials a {
    padding: 1rem;
}

.team_member:hover .team_socials {
    right: 0;
}

.team_socials i {
    color: var(--color-white);
}

.end_footer-container h2{
    margin-top: -2rem;
}




/* ==========================ABOUT PAGE ENDS HERE=================================== */


/* ========================TABLET MEDIA QURIES======================================== */

@media screen and (max-width:1024px) {

    h1 {
        font-size: 4.4rem;
        letter-spacing: 1px;
    }

    h2 {
        font-size: 2.7rem;
        letter-spacing: -1px;
    }

    h3 {
        font-size: 2.2rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    h5 {
        font-size: 0.9rem;
    }

    p {
        line-height: 1.6rem;
        font-size: 0.9rem;
    }

    section {
        overflow-x: hidden;
    }

    .container {
        width: var(--mobile-width);
    }


    nav .container {
        width: 100%;
    }

    nav .container .logo {
        margin-left: 1rem;

    }

    nav .container ul {
        position: fixed;
        top: 5.1rem;
        right: 0;
        flex-direction: column;
        width: 12rem;
        background: var(--color-primary);
        box-shadow: 1rem 0 2rem rgba(0, 0, 0, 0.2);
        z-index: 3;
        display: none;
    }

    nav .container li {
        height: 4rem;
        display: flex;
        align-items: center;
    }

    nav .container ul li a {
        width: 100%;
        padding: 0 0 1rem 2rem;

    }

    nav .container ul li a:hover {
        padding-left: 3rem;
    }

    nav button {
        display: inline-block;
        cursor: pointer;
        background: transparent;
        color: var(--color-black);
        margin-right: 2rem;
        font-size: 1.6rem;
    }

    nav button#close_btn {
        display: none;
    }

    .nav_menu li {
        width: 100%;
        height: 4.5rem;
        animation: nav-animate 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
        border-bottom: 1px solid var(--color-white);
        box-shadow: -2rem 3rem 7rem rgba(0, 0, 0, 0.3);
    }

    .nav_menu li a {
        width: 100%;
        height: 100%;
        display: flex;
        place-items: center;
        color: var(--color-white);

    }

    @keyframes nav-animate {
        10% {

            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }

        100% {
            transform: rotateZ(0) rotateX(0) scale(1);
            opacity: 1;

        }

    }

    .nav_items li:nth-child(2) {
        animation-delay: 200ms;
    }

    .nav_items li:nth-child(3) {
        animation-delay: 400ms;
    }

    .nav_items li:nth-child(4) {
        animation-delay: 600ms;
    }

    .nav_items li:nth-child(5) {
        animation-delay: 800ms;
    }

    .nav_items li:nth-child(6) {
        animation-delay: 1000ms;
    }

    .nav_items li:nth-child(7) {
        animation-delay: 1200ms;
    }

    header {
        top: 9rem;
        height: 100%;
    }

    header .container {
        grid-template-columns: 1fr 1fr;
        gap: 0;
        margin-top: 0;

    }

    header .container .details {
        display: none;
    }


    section#products .container {
        width: var(--mobile-width);
        margin-top: 0rem;
    }
    section#products article:last-child .image
    {
        margin-right: -3rem;
    }

    .faqs_container {
        grid-template-columns: 1fr;

    }

    .faqs h2 {
        margin-top: 3.5rem;
    }

    .faqs {
        padding: 1.5rem;
    }

    .footer_container {
        grid-template-columns: 1fr 1fr;
    }

    section#cta {
        padding: 4rem 2rem;
    }

    section#cta .info {
        width: 56%;
        align-self: flex-start;
    }

    section#cta .container .image {
        position: absolute;
        right: 11rem;
    }

    section#cta .container .btn {
        z-index: 1;
    }

    .search_bar-container {
        width: 60%;
    }

    .contact_container {
        gap: 1rem;
        margin-top: -9rem;
        height: auto;
        padding: 1.5rem;
    }

    .contact_aside {
        width: auto;
        padding: 1.5rem;
        bottom: 0;

    }

    .contact_form {
        align-self: center;
        margin-right: 1.5rem;
    }
    section#trusted-clients h2{
        margin-top: -9rem;
    }

    /* =================PRODUCT TABLET MEDIA======================= */
    .courses_container {
        grid-template-columns: 1fr 1fr;
    }

    /* ===================PRODUCT TABLET MEDIA======================*/
    .services_container {
        grid-template-columns: 1fr;
    }

    .services_left {
        /* display: none; */
    }

    .services_cards {
        gap: 1rem;
    }

    .testimonial_container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    /* =============================================ABOUT TABLET MEDIA================================= */
    .achivement_container {
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .achivement_left {
        width: 80%;
        margin: 0 auto;
    }

    .team_container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .team_member {
        padding: 1rem;
    }

    /* ============================END OF ABOUT TABET============================= */
}


/* ======================================END OF TABLET MEDIA QURIES============================================== */



/* =======================================MOBILE MEDIA QURIES=========================================================== */

@media screen and (max-width:600px) {

    h1 {
        font-size: 3.4rem;
    }

    h2 {
        font-size: 2.4rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    h4 {
        font-size: 0.96rem;
    }

    h5 {
        font-size: 0.7rem;
    }

    p {
        font-size: 0.84rem;
    }

    section {
        padding-top: 8rem;
    }

    nav .container .icons {
        gap: 1rem;

    }

    header .container {
        grid-template-columns: 1fr;
        text-align: center;

    }

    header .container .info p {
        font-size: 1rem;
    }

    header .container .cta {
        flex-direction: column;
        gap: 1rem;
    }

    header .container .heade-image {
        grid-row: 1;
        width: 60vw;
        margin: 0 auto;
    }

    header .delivery {
        display: none;
    }

    section#commercial {
        width: var(--mobile-width);
        margin: 0 auto;
    }

    section#products {
        margin-top: 4rem;
    }

    section#products .container article {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 1.4rem;
    }

    section#products .container article p {
        margin: 1rem 0;

    }

    section#products .container article .image {
        width: 100%;
        padding-left: 5rem;

    }

    section#why-choose_us .container .head .right {
        display: none;
    }

    section#why-choose_us .container article {
        grid-template-columns: 1fr;
        gap: 1rem;
        text-align: center;
    }

    .swiper-slide {
        flex-direction: column;
        gap: 2rem;

    }

    section#cta .container {
        flex-direction: column;
        height: fit-content;
        padding: 2rem;

    }

    section#cta .container .info {
        width: 100%;
    }

    section#cta .container .info p {
        font-size: 1rem;
    }

    section#cta .container .image {
        position: relative;
        top: 2rem;
        right: 30%;
    }

    /* =============================footer mobile grid starts here================================ */
    .footer_container {
        grid-template-columns: 1fr 1fr;
        text-align: center;
        gap: 0;
    }

    .footer_1 {
        margin: 1rem auto;
    }

    .footer_socials {
        justify-content: center;
    }

    /* ===========================footer mobile grid ends here=================================== */


    /* ==========================contact mobile grid starts here==================================== */

    .contact_container {
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-top: auto;
        padding: 0;
    }

    .contact_form {
        margin: 0 1.5rem 3rem;
    }

    .form_name {
        flex-direction: column;
    }

    .form_name input[type="text"] {
        width: 100%;
    }


    /* ===========================CONTACT PHONE MEDIA========================== */

    .services_cards {
        grid-template-columns: 1fr;
    }

    .testimonial{
        padding: 1rem;
    }


    /* =========================PRODUCT  PHONE MEDIA=============================  */
    .courses_container {
        grid-template-columns: 1fr;
        margin-top: -4.4rem;
    }
    .course{
        width: 80%;
        margin: 0 auto;
    }
 
    .search_bar-container {
        width: 80%;
        margin-top: 1rem;

    }

    /* ============================PRODUCT PHONE MEDIA ============================= */

    /* =================================ABOUT PHONE STARTS HERE=============================== */
    .team_container {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .team_member {
        padding: 0;
    }

    .team_member p {
        margin-bottom: 1.5rem;
    }


    /* ==============================END OF ABOUT PHONE TABLET======================= */

}