:root {
    --color-primary: #6f6af8;
    --color-primary-light: hsl(242, 91%, 69%, 18%);
    --color-primary-variant: #5854c7;
    --color-red: #da0f3f;
    --color-red-light: hsl(346, 87%, 46%, 15%);
    --color-green: #00c476;
    --color-green-light: hsl(156, 100%, 38%, 15%);
    --color-gray-900: #1e1e66;
    --color-gray-700: #2d2b7c;
    --color-gray-300: rgba(242, 242, 254, 0.3);
    --color-gray-200: rgba(242, 242, 254, 0.7);
    --color-white: #f2f2fe;
    --color-bg: #0f0f3e;

    --transition: all 300ms ease;

    --container-width-lg: 74%;
    --container-width-md: 88%;
    --form-width: 40%;

    --card-border-radius-1: 0.3rem;
    --card-border-radius-2: 0.5rem;
    --card-border-radius-3: 0.8rem;
    --card-border-radius-4: 2rem;
    --card-border-radius-5: 5rem;
}

* {
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    appearance: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: var(--color-gray-200);
    overflow-x: hidden;
    background: var(--color-bg);
    font-size: 0.9rem;


}

.container {
    width: var(--container-width-lg);
    max-width: 1800px;
    margin-inline: auto;
}

section {
    margin-top: 3rem;
    width: 100vw;
}

h1, h2, h3, h4, h5 {
    color: var(--color-white);
    line-height: 1.3;
}

h1 {
    font-size: 3rem;
    margin: 1rem 0;

}

h2 {
    font-size: 1.7rem;
    margin: 1rem 0;
}

h3 {
    font-size: 1.1rem;
    margin: 0.8rem 0 0.5rem;
}

h4 {
    font-size: 1rem;
}

a {
    color: var(--color-white);
    transition: var(--transition);

}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* ===========================NAV BAR============================================ */

nav {
    background: var(--color-primary);
    width: 100vw;
    height: 4.5rem;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

nav button {
    display: none;

}

.nav_container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
    border: 0.3rem solid var(--color-bg);
}

.nav_logo {
    font-weight: 600;
    font-size: 1.2rem;
}

.nav_items {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav_profile {
    position: relative;
    cursor: pointer;
}

.nav_profile ul {
    position: absolute;
    top: 125%;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);

}

.nav_profile:hover ul {
    visibility: visible;
    opacity: 1;
}

.nav_profile ul li a {
    padding: 1rem;
    display: block;
    width: 100%;
    background: var(--color-gray-900);

}

.nav_profile ul li:last-child a {
    background: var(--color-red);
    color: var(--color-white);
}

/* ============================================GENERAL FEATURED POST STYLES STARTS HERE======================================== */

.category_button {
    background: var(--color-primary-light);
    color: var(--color-primary);
    padding: 0.5rem 1rem;
    display: inline-block;
    border-radius: var(--card-border-radius-2);
    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;
}

.category_button:hover {
    color: var(--color-white);
}


.post_thumbnail {
    border-radius: var(--card-border-radius-5) 0;
    border: 1rem solid var(--color-gray-900);
    overflow: hidden;
    margin-bottom: 1.6rem;
}

.post:hover .post_thumbnail img {
    filter: saturate(0);
    transition: filter 500ms ease;

}

.post_author {
    display: flex;
    gap: 1rem;
    margin-top: 1.2rem;
}

.post_author-avatar {
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    border-radius: var(--card-border-radius-3);
}

/* ===========================================END OF GENERAL POST STYLES========================= */

/* ==============================FEATURED===============================
 */

.featured {
    margin-top: 8rem;
}

.featured_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.featured .post_thumbnail {
    height: fit-content;
}


.posts_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin-bottom: 5rem;
}

.category_buttons {
    padding: 4rem 0;
    border-top: 2px solid var(--color-gray-900);
    border-bottom: 2px solid var(--color-gray-900);


}

.category_buttons-container {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

}

footer {
    background: var(--color-gray-900);
    padding: 5rem 0 0;
    box-shadow: inset 0 1.5rem 1.5rem rgba(0, 0, 0, 0.2);

}

.footer_socials {
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 5rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 1.2rem;

}

.footer_socials a {
    background: var(--color-bg);
    border-radius: 50%;
    height: 2.3rem;
    width: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_socials a:hover {
    background: var(--color-white);
    color: var(--color-bg);
}

.footer_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

footer h4 {
    margin-bottom: 0.6rem;
}

footer ul a {
    opacity: 0.75;

}

footer ul a:hover {
    opacity: 1;
    letter-spacing: 0.2rem;
}

footer ul li {
    padding: 0.4rem 0;
}

.footer_copyright {
    border-top: 2px solid var(--color-bg);
    text-align: center;
    font-size: 1.1rem;
    margin-top: 4rem;
}

.search_bar {
    margin-top: 7rem;
}

.search_bar-container {
    position: relative;
    width: 30rem;
    background: var(--color-gray-900);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0.6rem 1rem;
    border-radius: var(--card-border-radius-2);
    color: var(--color-gray-300);
}

.search_bar-container>div {
    width: 100%;
    display: flex;
    align-items: center;

}

.search_bar input {
    background: transparent;
    margin-left: 0.7rem;
    padding: 0.5rem 0;
    width: 100%;
    color: var(--color-white);
}

.search_bar input::placeholder {
    color: var(--color-gray-300);
}

.btn {
    display: inline-block;
    width: fit-content;
    padding: 0.6rem 1.2rem;
    background: var(--color-primary);
    border-radius: var(--card-border-radius-2);
    cursor: pointer;
    transition: var(--transition);
    color: var(--color-white);
}

.singlepost {
    margin: 6rem 0 2rem;
}

.singlepost_container {
    width: var(--form-width);
    background: var(--color-gray-900);
    padding: 1rem 2rem 2rem;
}

.singlepost_container p {
    margin-top: 1rem;
    line-height: 1.7;
}

.singlepost .singlepost_thumbnail {
    margin-top: 1.5rem 0 1rem;
}
.category_title{
    height: 15rem;
    margin-top: 4.5rem;
    place-items: center;
    background: var(--color-gray-900);
    display: grid;
}
/* ===========================================TABLET MEDIA QUERY======================================= */

@media screen and (max-width:1024px) {
    .container {
        width: var(--container-width-md);
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h5 {
        font-size: 0.8rem;
    }

    nav button {
        display: inline-block;
        font-size: 1.5rem;
        background: transparent;
        color: white;
        cursor: pointer;

    }

    nav button#close-nav_btn {
        display: none;
    }

    .nav_container {
        position: relative;
    }

    .nav_items {
        position: absolute;
        flex-direction: column;
        top: 100%;
        right: 0;
        width: 12rem;
        align-items: flex-start;
        justify-content: center;
        gap: 0;
        display: none;
    }

    .nav_items li {
        width: 100%;
        height: 4.5rem;
        display: flex;
        align-items: center;
        box-shadow: -2rem 3rem 7rem rgba(0, 0, 0, 0.7);
        border-top: 1px solid var(--color-bg);
        animation: nav-animate 1s 0s ease forwards;
        opacity: 0;
        transform-origin: top;
    }

    .nav_items li a {
        border-radius: 0;
        width: 100%;
        height: 100%;
        background: var(--color-gray-900);
        padding: 0 2rem;
        display: flex;
        align-items: center;

    }

    .nav_profile {
        background: var(--color-gray-900);

    }

    .nav_profile ul {
        top: 100%;
        width: 100%;
    }

    .nav_profile .avatar {
        margin-left: 2rem;
        border: 0;
    }

    @keyframes nav-animate {
        0% {
            transform: rotateX(90deg);
        }

        100% {
            transform: rotateX(0deg);
            opacity: 1;
        }

    }

    .nav_items li:nth-child(2) {
        animation-delay: 200ms;
    }

    .nav_items li:nth-child(3) {
        animation-delay: 400ms;
    }

    .nav_items li:nth-child(4) {
        animation-delay: 600ms;
    }

    .nav_items li:nth-child(5) {
        animation-delay: 800ms;
    }

    .featured_container {
        gap: 3rem;
    }

    .posts_container {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .footer_container {
        grid-template-columns: 1fr 1fr;

    }

    .search_bar-container {
        width: 60%;
    }


}

/* ==========================================END OF TABLET========================================= */

@media screen and (max-width:600px) {
    section {
        margin-top: 2rem;
    }

    h1 {
        font-size: 2rem;
    }

    .featured {
        margin-top: 6rem;
    }

    .featured_container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .posts_container {
        grid-template-columns: 1fr;
    }

    .category_buttons-container {
        grid-template-columns: 1fr 1fr;
    }

    .footer_container {
        align-items: center;

    }

    .search_bar-container {
        width: var(--container-width-md);
    }
    .singlepost_container{
        background: transparent;
        padding: 0;
    }

}