@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background:gray;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    font-family: sans-serif, 'poppins';
    align-items: center;
    flex-direction: column;
    height: 400px;
}
.user-form
{
    width: 100%;
    max-width: 700px;
}
.user-form input{
    width: 100%;
    display: block;
    border: none;
    border-radius: 10px;
    color: black;
    font-family: inherit;
    margin-bottom: 2rem;
    font-size: 1rem;
    padding: 1rem;
    background: whitesmoke;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);


}
.user-form input::placeholder
{
    color: #8d8888;
}
.user-form input:focus
{
    outline: none;
}
.card {
    max-width: 800px;
    background-color: rgb(29, 29, 90);
    border-radius: 40px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
      0 15px 40px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 3rem;
    margin: 0 1.5rem;
  }
  
  .avatar {
    border-radius: 50%;
    border: 10px solid rgb(55, 193, 235);
    height: 150px;
    width: 150px;
  }
  
  .user-info {
    color: #eee;
    margin-left: 2rem;
  }
  
  .user-info h2 {
    margin-top: 0;
  }
  
  .user-info ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 400px;
  }
  
  .user-info ul li {
    display: flex;
    align-items: center;
  }
  
  .user-info ul li strong {
    font-size: 0.9rem;
    margin-left: 0.5rem;
  }
  
  .repo {
    text-decoration: none;
    color: #fff;
    background-color:rgb(38, 189, 240);
    border-radius: 2px;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin:1rem  0.5rem 1rem 0;
    display: inline-block;
  }
  
  @media (max-width: 600px) {
    .card {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
    }
  
    .user-form {
      max-width: 350px;
     margin-top: 24rem;
    }
  }