* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;

}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    background: rgb(139, 210, 207);
    align-items: center;
}

.card {
    height: 500px;
    width: 500px;
    align-items: center;
    justify-content: center;
    background: white;
    border: none;
    border-radius: 10px;
    text-align: center;
}

img {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    justify-content: center;
    margin-top: 15px;
    border-right: 15px solid darkcyan;


}
span i
{
    font-size:30px;
    /* margin-top:50px; */
}

h3 {
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 25px;
}

h4 {
    text-transform: uppercase;
    color: darkcyan;
    margin-top: 20px;
    font-weight: bolder;
}

p {

    text-align: center;
    margin-top: 20px;
    line-height: 25px;
    /* justify-content: center; */
}

.random-btn {
    margin-top: 10px;
    color: darkcyan;
    border: 2px solid darkcyan;
    height: 50px;
    width: 105px;
    border-radius: 10px;
    font-weight: bold;

}

.random-btn:hover {
    color: white;
    border: none;
    background: darkcyan;
}

.prev-btn,
.next-btn {
    font-size: 20px;
    background: white;
    border: none;
    color: darkcyan;
    transition: .4s;
    cursor: pointer;
    margin: 0 0.8rem;
    margin-top: 17px;
}