*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body
{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
#circle
{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    color:white ;
    background: brown;
    align-items: center;
    cursor: pointer;
    transition: cubic-bezier(0.075,0.82,0.165).3s;
    font-size: 1.5rem;
}
#circle:hover
{
    transform: scale(2);
}