*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
.monkey
{
    font-size: 170px;
    cursor: pointer;
    user-select: none;
    
}
.open
{
    display: none;
}
.close
{
    display: none;
}
.active
{
    display: block;
}